{% extends 'base.html' %}

{% block content %}
<div>
<h2 class="centered">Вітаємо в інтернет-магазині дитячого одягу!</h2>
</div>
<div class="product-grid">
        {% for p in prod %}
    <div class="product-tile">
        <div class="product-content">
            {% if p.photo %}
                <p><img class="img-article home" src="{{ p.photo.url }}"></p>
            {% endif %}

                <h2>{{ p.name }}</h2>
                <p>{{ p.description }}</p>
                <p>Розмір: {{ p.size }}</p>
                <p>Ціна: {{ p.price }}</p>
</div>
        <div class="button-container">
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Переглянути товар</a></p>
            </div>
     </div>
        {% endfor %}

    </div>
{% if prod.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if prod.has_previous %}
            <li class="page-num">
                <a href="?page=1">&lt;</a>
            </li>
        {% endif %}
        {% for p in prod.paginator.page_range %}
            {% if prod.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= prod.number|add:"-2" and p <= prod.number|add:"2" %}
                <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if prod.has_next %}
            <li class="page-num">
                <a href="?page={{ prod.next_page_number }}">&gt;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}