{% extends 'base.html' %}

{% block content %}
<h4 class="heading">Способи оплати:</h4>
<ul class="list">
    <p>готівкою (при отриманні товару)</p>
    <p>безготівковий розрахунок</p>
</ul>
<h4 class="heading">Способи доставки:</h4>
<ul class="list">


    <h2 class="subheading">"УкрПошта"</h2>
    <p class="description">
Платна доставка компанією "Укрпошта" на обране відділення за тарифами перевізника. Терміни доставки: в середньому 2-4 дні, залежно від міста та графіка роботи відділення.
Безкоштовна доставка по Україні для замовлення більше 800 грн
</p>
<hr>


    <h2 class="subheading">"Нова пошта" до відділення</h2>

<p class="description">
Платна доставка компанією "Нова пошта" на вибране відділення. Вартість доставки замовлення на відділення варіюється в залежності від ваги та габаритів (100-150 грн). Доставка здійснюється протягом 1-3 робочих днів. Оплатіть замовлення до 13:00 і ми відправимо його цього ж дня! Зверніть увагу! Термін зберігання замовлення у відділенні "Нова Пошта" – до 5 календарних днів. При оплаті замовлення післяплатою на суму понад 5000 грн потрібно пред'явити паспорт.
Безкоштовна доставка по Україні для замовлення більше 1500 грн
</p>
            <hr>


    <h2 class="subheading">"Нова пошта" в поштомат</h2>
 <p class="description">
Платна доставка компанією "Нова пошта" на обраний поштомат до 2 кг — 70 грн, до 10 кг — 100 грн, до 30 кг — 140 грн.
</p>
<hr>


    <h2 class="subheading">Курьером</h2>
    <p class="description">
Безкоштовна доставка по Україні курьером для замовлення більше 3000 грн.
</p>
<hr>


        <h2 class="subheading">Самовивіз з магазинів</h2>
        <p class="description">
Плата за доставку при самовивезенні відсутня. У разі відсутності товару в магазині, доставка здійснюється протягом 1-3 робочих днів. Термін резерву товару – 3 дні після повної комплектації замовлення. Під час акцій та розпродажів термін резерву товару – 1 день із моменту повної комплектації замовлення. Готовність до самовивезення всіх позицій замовлення підтверджується менеджером у телефонному режимі.
</p>

</ul>

{% endblock %}
